 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Racing-Circus-Racing-Road-Dark-Athletic-Track-Stage-photo-backdrop-High-quality-Computer-print-party-background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-gallery-1 {
  height: 440px;
  width: 786px;
  margin: auto auto 0;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-gallery-1 {
    height: 358px;
    width: 639px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 52px;
    height: 52px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 52px;
    height: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-gallery-1 {
    height: 250px;
    width: 446px;
    margin-top: 82px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 43px;
    height: 43px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 43px;
    height: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-gallery-1 {
    height: 175px;
    width: 426px;
    margin-top: 157px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 30px;
    height: 30px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 23px;
    height: 23px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 23px;
    height: 23px;
  }
}