.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Ferrari_F8_Tributo_Red_Front_573346_1362x1024.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 877px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 333px 101px 60px 268px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 1px;
    margin-left: 168px;
    width: 605px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1-1 .u-text-1 {
    width: 340px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/718b7b842289e5cf355ab377c273134a35bc53b8d6f10365455b929f83533a7c4f58f8b325ec222dd56a4dd8199dbb6f0c9c8a4e65b820023093b2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 294px 118px 294px 268px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    width: 605px;
    margin-left: 168px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-text-1 {
    width: 340px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/200083-car-ferrari-portofino-m.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  width: 605px;
  font-size: 3.75rem;
  margin: 294px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-3 .u-text-1 {
    width: 340px;
  }
}.u-block-ba9e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-ba9e-3 {
  position: absolute;
  left: 0;
}

.u-block-ba9e-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
  min-height: 453px;
}

.u-section-2 .u-group-1 {
  margin-top: 113px;
  margin-bottom: 0;
  background-image: none;
  min-height: 228px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-gallery-1 {
  height: 499px;
  grid-gap: 17px 17px;
  width: 1030px;
  margin: -499px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 16px 16px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 0;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 0;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-4 {
  background-image: none;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 0;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 0;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 409px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
    width: 940px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 738px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 2306px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1435px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
    width: 340px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/7f29ba4755d973ca29cd643d4a9e3ffbaf6265281d482ec1e37183e3cd9bdc7b702cb2f72f5044c5b91487f98d8d10e41a7f4af8a288c18ba406a7_1280.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1438px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1063px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 48px 0 0;
}

.u-section-3 .u-group-1 {
  margin-top: 50px;
  margin-bottom: 0;
  min-height: 157px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-2 {
  margin-top: 10px;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  background-image: url("https://di-uploads-development.dealerinspire.com/ferrarioftampabay/uploads/2021/03/Hero.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1063px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 632px;
  height: 553px;
  margin: 163px auto 0 -14px;
}

.u-section-3 .u-image-6 {
  width: 470px;
  height: 470px;
  background-image: url("images/enzo-ferrari-1108x0-c-default.jpg");
  background-position: 50% 50%;
  animation-duration: 3500ms;
  margin: -553px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  animation-duration: 1000ms;
  margin: 123px 30px 0;
}

.u-section-3 .u-shape-2 {
  width: 267px;
  height: 94px;
  margin: -1113px auto 0;
}

.u-section-3 .u-shape-3 {
  width: 267px;
  height: 94px;
  margin: 1250px auto -49px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 877px;
  }

  .u-section-3 .u-text-1 {
    color: rgb(230, 107, 0) !important;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1198px;
  }

  .u-section-3 .u-shape-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 58px;
    height: 58px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 58px;
    height: 58px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 58px;
    height: 58px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 58px;
    height: 58px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 58px;
    height: 58px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1317px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
  }

  .u-section-3 .u-image-6 {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1056px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 1100px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 560px 60px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -643px auto 0 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  width: 495px;
  margin: -327px auto 60px;
}

.u-section-4 .u-video-1 {
  width: 890px;
  height: 501px;
  animation-duration: 1000ms;
  margin: 80px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-top: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 560px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 486px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -530px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: -366px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 462px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 29px auto 29px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 403px;
  transition-duration: 1.75s;
}

.u-section-5 .u-image-1 {
  background-image: url("images/ferrari-exterior.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-shape-1 {
  width: 365px;
  height: 342px;
  margin: 11px -2px 0 auto;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -256px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 53px 20px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 307px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-5 .u-shape-1 {
    width: 360px;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 10px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-5 .u-shape-1 {
    width: 276px;
    margin-top: 49px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -295px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -256px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 180px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 613px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 67px auto 67px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  margin: 0 25px;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.25rem;
  margin-left: 25px;
  margin-right: 25px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin-bottom: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 134px;
  min-width: 94px;
  margin: 73px auto -99px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-form-1 {
  height: 312px;
  width: 530px;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-6 .u-form-1 {
    width: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}